
<launch>


  <!-- Name of the map to use (without path nor extension) and initial position -->


 <arg name="world_file"     default="$(find cpe_bot)/maps/stage/cpe.world"/> 

  <param name="/use_sim_time" value="true"/>

  <node pkg="stage_ros_add_pose_and_crash" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="odom" to="odom"/>
  </node>


</launch>
